<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>

  <div style="width: 100% ; border: 1px solid #ccc;height: 100px;">
    <h1>BADMINTON SHOP</h1>
  </div>

  <nav>
    <ul>
        <li><a href="/products" >Products</a></li>
        <li><a href="/users" class="active">Users</a></li>
        <li><a href="/orders">Orders</a></li>
        <li><a href="/categories">Categories</a></li>

    </ul>
</nav>

<table>
    <tr>
      <th>user id</th>
      <th>name</th>
      <th>email</th>
      <!-- <th>password</th> -->
      <th>Action</th>
      </tr>
    <% for(var i = 0; i < users.length; i++) { %>
        <tr>
          <td><%= users[i].user_id %></td>
          <td><%= users[i].user_name %></td>
          <td><%= users[i].email %></td>
          <!-- <td><%= users[i].password %></td> -->
          <td>
              <a href="http://localhost:5500/users/<%= users[i].user_id %>">View</a>
              <!-- <a href="http://localhost:5500/users/update/<%= users[i].user_id %>">Edit</a>
              <a href="http://localhost:5500/users/delete/<%= users[i].user_id %>">Delete</a> -->
          </td>
        </tr>
    <% } %> 
</table>
<a href="http://localhost:5500/user_create">Create</a>
</body>
</html>