<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>categories</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <div style="width: 100% ; border: 1px solid #ccc;height: 100px;">
        <h1>BADMINTON SHOP</h1>
      </div>
    <nav>
        <ul>
            <li><a href="/products" >Products</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/orders">Orders</a></li>
            <li><a href="/categories" class="active">Categories</a></li>

        </ul>
    </nav>
    <table>
        <tr>
          <th>category ID</th>
          <th>category</th>
          <th>Action</th>
        </tr>
        <% for (var i = 0; i < categories.length; i++) { %>
        <tr>
                <td><%= categories[i].category_id %></td>
                <td><%= categories[i].category_name %></td>
                <td>
                    <a href="http://localhost:5500/categories/<%= categories[i].category_id %>">View</a>
                    <a href="http://localhost:5500/categories/update/<%= categories[i].category_id %>">Edit</a>
                    <a href="http://localhost:5500/categories/delete/<%= categories[i].category_id %>">Delete</a>
                </td>
            </tr>
            <% } %>

    </table>
    <a href="http://localhost:5500/categorie/create">Create</a>
</body>
</html>